Src/Core/Application/bin
Src/Core/Application/obj
Src/Core/Domain/bin
Src/Core/Domain/obj
Src/Infrastructure/bin
Src/Infrastructure/obj
Src/Persistence/bin
Src/Persistence/obj
Src/Core/Common/bin
Src/Core/Common/obj
