.vs
.vscode
Src/Core/Application/bin
Src/Core/Application/obj
Src/Core/Domain/bin
Src/Core/Domain/obj
Src/Infrastructure/bin
Src/Infrastructure/obj
Src/Persistence/bin
Src/Persistence/obj
Src/Core/Common/bin
Src/Core/Common/obj
Src/Presentation/WebApi/bin
Src/Presentation/WebApi/obj
Src/IdentityServer/bin
Src/IdentityServer/obj
Src/IdentityServer/tempkey.rsa
